<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dotRestaurant</title>
</head>
<body>

  <!-- Membuat navbar -->
<navbar class="navbar">
    <div class="navbar-brand">
        <img src="./logo/restaurant.png" alt="restaurant-logo" />
    </div>
    <div class="navbar-menu">
        <button id="tombol-menu"><p>☰</p></button>
    </div>
    <nav class="navbar-navigation" id="navigation-menu">
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/saul-paulus" target="_blank" el="noreferrer">About</a></li>
        </ul>
    </nav>
</navbar>
<!-- Akhir membuat navbar -->











</body>
</html>
