* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*=====Navbar======*/
.navbar {
    width: 100%;
    background-color: rgba(15, 15, 15, 0.849);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    position: -webkit-fixed;
    top: 0;
    z-index: 999;
    height: 80px;
}

.navbar .navbar-brand {
    margin-left: 20px;
    cursor: pointer;
    background-color: #f0b452;
    border-radius: 50px;
}

.navbar .navbar-brand img {
    width: 40px;
    height: 40px;
    display: block;
}

.navbar .navbar-menu {
    margin-right: 20px;
    display: block;
    cursor: pointer;
}

.navbar .navbar-menu p {
    font-size: 27px;
    background-color: #f0b452;
    color: #0f0f0f;
}

.navbar .navbar-navigation {
    position: absolute;
    top: 80px;
    width: 80%;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.849);
    opacity: 0.8;
    overflow: hidden;
    z-index: 99;
    left: -100%;
    transition: ease-in-out 0.4s;
}

.navbar .navbar-navigation.open {
    left: 0;
}

.navbar .navbar-navigation ul li a {
    position: relative;
    display: inline-block;
    color: #fa9311;
    font-size: 20px;
    font-weight: 500;
    padding: 40px;
    width: 100%;
    margin-top: 10px;
    z-index: 99;
}


/* membuat header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../public/img/hero-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.header .containt-header {
    display: block;
    margin-top: 90px;
    margin-bottom: 120px;
    text-align: center;
}

.header .containt-header .header-title h1 {
    display: inline-block;
    font-size: 2em;
    color: #ffffff;
}

.header .header-description {
    display: inline-block;
    color: #d6d3d3;
    margin: 15px auto;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 90%;
    font-size: 15px;
    font-weight:500;
}

.header .header-tombol a {
    display: inline-block;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: #fa9311;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
}

/* Membuat main-content */
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 1.8em;
}

.containt-card{
    width: 90%;
    border:1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containt-card .main-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 90%;
    text-align: center;
    margin: 20px;
    transition: 0.4 all;
    position: relative;
    cursor: pointer;
    border:1px solid green;
}

.containt-card .main-card:hover {
    width: 95%;
    height: 95%;
}

.containt-card .main-card .containt-img {
    position: relative;
    width: 100%;
    height: 270px;
}

.containt-card .main-card .containt-img:hover img {
    opacity: 0.5;
}

.containt-card .main-card .containt-img:hover .tombol-detail {
    opacity: 1;
    transition: 0.4s all;
}

.containt-card .main-card .containt-img .tombol-detail {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.containt-card .main-card .containt-img .tombol-detail .text-detail {
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: 20px;
    padding: 16px 36px;
}

.containt-card .main-card .containt-img img {
    width: 100%;
    height: 100%;
    display: block;
    backface-visibility: hidden;
    opacity: 1;
}

.containt-card .main-card .containt-img img:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.2s all;
}

.containt-card .main-card h1 {
    font-size: 1.3em;
    padding: 10px;
    background-color: #fa9311;
    color: #0f0f0f;
    position: absolute;
    left: 0;
    top: 0;
}

.containt-card .main-card .rating {
    font-size: 20px;
    text-align: center;
    color:#0f0f0f;
    padding: 10px;
    font-weight: 600;
}
.checked{
    color: #f0b452;
}

.containt-card .main-card .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    text-align: justify;
    color: #808080;
}

/* Membuat footer */
footer {
    margin-top: 100px;
    width: 100%;
    background-color: #0f0f0f;
}

footer p {
    padding: 40px;
    color: #ffffff;
}

/* MEmbuat responsive */

@media (min-width: 576px) {
    /*  */
    .navbar .navbar-navigation {
        position: relative;
        width: 50%;
        margin-right: 75px;
        left: 0;
        background-color: rgba(247, 242, 234, 0);
        height: 5vh;
        top: 0;
    }
    .navbar .navbar-navigation ul {
        display: flex;
        justify-content: space-between;
    }
    .navbar .navbar-navigation li {
        text-align: center;
        display: inline-block;
    }
    .navbar .navbar-navigation ul li a {
        text-align: center;
        padding: 5px;
        margin-top: 0;
        color: #fa9311;
    }
    .navbar .navbar-navigation ul li a:hover {
        text-decoration: underline;
    }
    .navbar .navbar-menu {
        display: none;
    }
    .navbar .navbar-brand {
        margin-left: 75px;
    }
    /* membuat main content */

    .containt-card{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        align-items: center;
    }
    .containt-card .main-card {
        width: 87%;
        height: 90%;
        transition: 0.4s all;
    }
    
    .containt-card .main-card:hover {
        width: 90%;
        height: 93%;
    }
}

@media (min-width: 768px) {
    /*  */

}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .navbar .navbar-navigation {
        margin-right: 140px;
    }
    .navbar .navbar-brand {
        margin-left: 140px;
    }
}

@media (min-width: 1400px) {
    .navbar .navbar-navigation {
        margin-right: 100px;
    }
    .navbar .navbar-brand {
        margin-left: 100px;
    }
}